/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dbs
/copy-2
/logs
.bash_logout
.bash_profile
.bashrc
node_modules
